
.storyImage {
  border: 1px solid #558abb;
}

.storyCaption {
  /*background: #fafbfc url('/assets/caption-background.png') top center;*/
  background-color: rgba(255,149,0,.1);
  /*border-left: 6px solid #558abb;*/
  border-left: 6px solid rgba(255,149,0,.5);
  padding-left: 6px;
  text-align: left;
}
