@media screen and (min-width: 800px) {
  body:before, body:after {
      content: "";
      position: fixed;
      background: #000000;
      left: 0;
      right: 0;
      height: 10px;
  }

  body:before {
      top: 0;
  }

  body:after {
      bottom: 0;
  }

  body {
      border-left: 10px solid black;
      border-right: 10px solid black;
  }
}

.post {
}

.storyImage {
  border: 1px solid #558abb;
}

.storyImage img {
  border-radius: 0px;
  display: inline-block;
  max-width: 100%;
  margin: 0;
  padding: 0;
  vertical-align: bottom;
}

.storyCaption {
  background-color: rgba(255,149,0,.1);
  border-left: 6px solid rgba(255,149,0,.5);
  padding-left: 6px;
  text-align: left;
}

.storyItem {
  margin-bottom: 50px;
}
