{% assign album = site.data[page.storage][page.data] %}
{% assign description = album['description'] | emoticon %}
{{ description | emfirst }}

<script src="{{ site.baseurl }}public/js/jail.js"></script>

<script>
  $(function(){
    $('img.lazy').jail({ offset:5000 });
  });
</script>

<div class="storyCollection">

  {% for image in album.images %}
  {% assign scaled_image = image.imageset | where: 'scale', '0.5' %}

  <div class="storyItem" align="center">
    <img class="lazy storyImage" src="{{ site.baseurl }}public/placeholder.png" data-src="{{ scaled_image[0].source }}" onClick="openStoryImageOverlay(this.src, this.alt);" alt="{{ image.caption }}"/>
      <div class="storyCaption">
    {{ image.caption | emoticon }}
      </div>
  </div>

  {% endfor %}

</div>
