{% assign album = site.data[page.storage][page.data] %}
{{ album['description'] }}

<script src="{{ site.baseurl }}public/js/jail.js"></script>
<script>
  $(function(){
    $('img.lazy').jail({ offset:5000 });
  });
</script>

<div class="storyCollection">

  {% for image in album.images %}

  <div class="storyItem" align="center">
    <img class="lazy" src="{{ site.baseurl }}public/placeholder.png" data-src="{{ image.source }}"/>
    <div class="storyCaption">

    {{ image.caption }}

    </div>
  </div>

  {% endfor %}

</div>
