<div class="masthead-container">
  <div class="masthead-contents">
    <h2 class="masthead-title">
      <a href="/" title="Home">{{ site.title }}</a>
      <small>{{ site.tagline }}</small>
    </h2>
    {% for node in site.pages %}
      {% if node.title != null %}
        {% if node.layout == "page" %}
          <div class="masthead-link">
            <a href="{{ node.url }}">{{ node.title|downcase }}</a>
          </div>
        {% endif %}
      {% endif %}
    {% endfor %}
  </div>
</div>
